body{
  margin:0;
  padding:0;
  font:normal normal 14px/1.3em Arial,Verdana,sans-serif;
  background:#fff;
}

body > div { 
	direction: rtl;
}

/** HTML elements **/
h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
}

a{
  color:#589DDE;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}
/** global classes **/
 
.rep{
  display:block;
  overflow:hidden;
  text-indent:-1000em;
  direction:ltr;
  background-repeat:no-repeat;
}

.clr{
  clear:both;
  display:block;
  height:1px;
  overflow:hidden;
}
/** layout **/
#main{
  direction:rtl;
  width:980px;
  margin:0 auto;
}

#header{
  margin-bottom:10px;
}

#logo{
  height:72px;
  background-image:url('media/gov-il-logo.jpg');
  background-position:right top;
  border-bottom:1px dotted #b5b5b5;
  padding-bottom:3px;
  margin-bottom:15px;
}

#budget_heading{
  background-image:url('media/bg_gov_header.png');
  height:50px;
}
#budget_heading h2 {
  background-image:url('media/cube.png');
  background-position:right;
  background-repeat: no-repeat;
  line-height:49px;
  color:#fff;
  padding-right:60px;
  font-size:24px;
  margin-right: 4px;
}
#budget_heading a, #budget_heading a:visited {color:inherit;}

#dev_state {
  float:left;
  margin: 6px 15px;
}

#search{
  background: #1B6AAF; /* old browsers */
  background: -moz-linear-gradient(top, #1B6AAF 0%, #0B3060 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1B6AAF), color-stop(100%,#0B3060)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1B6AAF', endColorstr='#0B3060',GradientType=0 ); /* ie */
  color:#fff;
  height:30px;
  line-height:30px;
  padding: 5px 0;
}

#search strong{
  font-weight:normal;
  padding-left:10px;
}

#obudget-searchbox,
#obudget-cheatsheet{
  float: right;
  min-width:80px;
  padding-right:15px;
}

#obudget-cheatsheet, .embed-link{
  text-decoration:none;
  cursor:pointer;
}

#obudget-detailed-results{
  overflow:clip;
}

#content{
  min-height:460px;
}

#breadcrumbs,
#summary{
  padding:2px 15px;
  height:20px;
  line-height:19px;
}

#summary {
  background-color:#deecf9;
  text-align:center;
  height:100%
}

#summary div{
  display:inline;
  color: #333;
  font: normal 19px/36px Arial;
  padding-bottom: 5px;
}

#obudget-summary-1 .gwt-Label, 
#obudget-summary-2 {
  font-weight: bold;
}

#charts{
  margin-top:10px;
}

#charts .col{
  min-height:330px;
  float:right;
  overflow:hidden;
  margin-bottom:10px;
}

#charts .col.right{
  margin-left:10px;
}

#obudget-news table {
  margin: 0 auto;
}

.col.span50{
  width:485px;
}

.col.span70{
  width:686px;
}

.col.span20{
  width:283px;
}

.col h3{
  background: #acd1f3; /* old browsers */
  background: -moz-linear-gradient(top, #6eb3e9 0%, #acd1f3 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6eb3e9), color-stop(100%,#acd1f3)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6eb3e9', endColorstr='#acd1f3',GradientType=0 ); /* ie */
  color:#062253;
  height:30px;
  line-height:30px;
  padding:0 15px;
  margin-bottom:10px;
  font-size:18px;
  font-weight:normal;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  -webkit-border-top-left-radius:4px;
  -webkit-border-top-right-radius:4px;
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:4px;
}

.row{
  clear:both;
}
.resultgrid tr {
  line-height: 1.4em;
}

#footer{
  clear:both;
  margin-top:35px;
  padding:10px 15px;
  background-color:#deecf9;
}

#footer p{
  margin:5px 0;
  padding:0;
  float:right;
  width:460px;
}

#footer .left{
  text-align:left;
  float:left;
}

.gwt-TabLayoutPanel,
.gwt-TabLayoutPanelContent {
  border-style:none;
}

.resultgrid-header-row td {
  border-bottom:3px double black;
  border-collapse:collapse;
  text-align:center;
}

.resultgrid-totals-row td {
  border-bottom:1px solid black;
  border-collapse:collapse;
}

.resultgrid-data {
  text-align:center;
  white-space:nowrap;
  direction:ltr;
  border-right:solid 1px;
  padding-right:2px;
  padding-left:2px;
}

.resultgrid-data-row .resultgrid-title {
  padding-right:2px;
}

.resultgrid-header {
  font-weight:bold;
}
-
.gwt-TabLayoutPanelTab {
   float:right;
}

.gsc-branding {
  direction:ltr;
  float:left;
}