/** Add css rules here for your application. */

body > div, .suggestPopupContent {
	direction:rtl;
}

#logo { background: transparent url(http://www.shituf.gov.il/sites/e.shituf.gov.il/themes/shituf/images/bg_gov_header.png) no-repeat 100% 0%; color: white; }
#logo h1 { padding: 0.5em; margin:0;}

#page { margin: 0 auto; width: 747px; font-size:13px; line-height:16px;}
#search 
{
	text-align: center;
	font:bold 16px helvetica;
}
#obudget-cheatsheet
{
	font:normal 12px helvetica;
	color:blue;
	text-decoration:underline;
	cursor:pointer;
}
#obudget-cheatsheet div { 	display:inline; }	

#summary {text-align: center; }
#summary > div
{ padding-bottom:5px; }
#summary-lines 
{ 
	margin-left:auto;
	margin-right:auto;
}	
#search, #summary, #charts, #details, #breadcrumbs, #footer {
	margin-top:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:2px;
	padding-right:2px;
	background:#ddeeff;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

#obudget-piechart,
#obudget-timeline,
#obudget-detailed-results,
#news,
#summary-lines,
#obudget-breadcrumbs
{
	padding:3px;
	/*background:#eef8ff;*/
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

#details > div { vertical-align: top;  }
#obudget-piechart {display:inline-block; width:330px; overflow:hidden; }
#obudget-timeline {display:inline-block; width:390px; overflow:hidden; }

#obudget-summary-1,
#obudget-year-selection,
#obudget-summary-2,
#obudget-summary-3
{display:inline-block; font-size:14px; font-family:helvetica; }

#obudget-summary-2
{font-size:17px; font-weight:bold;}

#obudget-detailed-results { 
	/*display:inline-block;*/
	width:500px;  
	overflow:clip;
}

#news { 
	/*display:inline-block;*/ 
	/*width:220px;*/
	float:left;
 }
#footer { 
	height:60px; 
	padding-right:10px; 
	padding-left:10px;
	background:#eeeeff; 
}

.gwt-TabLayoutPanel,
.gwt-TabLayoutPanelContent {
		border-style:none;
}

.resultgrid-header-row td {
	border-bottom:3px double black;
	border-collapse:collapse;
	text-align:center;
}

.resultgrid-totals-row td {
	border-bottom:1px solid black;
	border-collapse:collapse;
}

.resultgrid-data {
	text-align:center;
	white-space:nowrap;
	direction:ltr;
	border-right:solid 1px;
	padding-right:2px;
	padding-left:2px;
}

.resultgrid-header {
	font-weight:bold;
}

.gwt-TabLayoutPanelTab {
	float:right;
}
